@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+JP:wght@500&family=Noto+Serif+JP&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: "snellfont";
  src: url("../asset/SnellRoundhand-BlackScript.otf");
  font-weight: 400;
  font-style: normal;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.nametitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif JP", serif;
  h1{
    color: #262626;
  }
  @media screen and (max-width: 767px) {
    margin-top: 10px;
    margin-left: 0px;
    h1{
      color: #262626;
    }
  }
}

.aboutjp {
  font-family: "Noto Serif JP", serif;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;


  @media screen and (max-width: 767px) {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.aboutZayuu{
  font-family: 'Noto Serif JP', serif;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 0px;
  margin-top: 30px;
 

  @media screen and (max-width: 767px) { 
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
  }
}

.aboutSukinakoto{
  font-family: 'Noto Serif JP', serif;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 100px;
  margin-top: 30px;
 

  @media screen and (max-width: 767px) { 
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
  }
}


.namebox {
  padding-top: 117px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
   display: block;
align-items: center;
  }
}

.pianist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 111px;
  @media screen and (max-width: 767px) {
    margin-left: 0px;
   margin-bottom: 0px;
  }
}

.snellfont {
  h1 {
    font-family: "snellfont";
  }
  h2 {
    font-family: "snellfont";
    color: #262626;

    @media screen and (max-width: 767px) {
      color: #262626;
    }
  }
}

.namejp {
  h1 {
    color: #262626;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;

    @media screen and (max-width: 767px) {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.nameen {
  margin-top: 10px;
  h1 {
    color: #262626;
    margin-top: 4px;
    font-size: 26px;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: 800;
    letter-spacing: 0.3px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}

.linkname {
  margin-top: 50px;
  a {
    color: rgb(235, 16, 158);
  }
}



.linebox::before {
  content: "";
  height: 445px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../public/profilejp_top.png");
  object-fit: cover;
  background-size: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;


  @media screen and (max-width: 767px) {
    margin-top: 50px;
    background-size: 100%;
    height: 400px;
  }
}

.lineboxen::before {
  content: "";
  height: 445px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../public/profileen_top.png");
  object-fit: cover;
  background-size: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;


  @media screen and (max-width: 767px) {
    margin-top: 50px;
    background-size: 100%;
    height: 400px;
  }
}


.profile_section {
  margin-top: 380px;
  padding-bottom: 136px;
  background-image: url("../public/background.png");

  @media screen and (max-width: 767px) {
    background-size: 100%;
    background-size: cover;
    margin-top: 116px;
  }
}


.profile_deco {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  @media screen and (max-width: 767px) {
    margin-top: 4px;
  }
}

.jpimage {

  @media screen and (max-width: 767px) {

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}