body {
  background-color: rgb(255, 255, 255);
  color: rgb(40,40,40);
}
  body, h1, h2, h3, p {
  margin: 0;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}


@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+JP:wght@500&family=Noto+Serif+JP&display=swap');

@font-face {
  font-family: 'snellfont';
  src: url('../asset/SnellRoundhand-BlackScript.otf');
  font-weight: 400;
  font-style: normal;
  }

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px
}

.nametitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Serif JP', serif;
  margin-left: 200px;
}

.aboutjp{
  font-family: 'Noto Serif JP', serif;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 100px;
  margin-top: 100px;

  @media screen and (max-width: 767px) { 
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
  }
}

.section {
  width: 100%;
  /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
  -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
      -ms-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
          transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
  /*   And finally we account for the slope to make sure each section can occupy the full window... I added 10vw just to give it a little extra padding */
  min-height: calc(30vh - (110vw/-12));

}

.section:not(:last-child) *{
  -webkit-transform: skew(0);
      -ms-transform: skew(0);
          transform: skew(0) ;
  margin-top: calc(50vw/-12);
}
  
.section:last-child {
  position: relative;
  -webkit-transform: skew(0);
      -ms-transform: skew(0);
          transform: skew(0);
  margin-top: calc(100vw/-12);
  padding-top: calc(100vw/12);
  min-height: 100vh;
  z-index: -1;
}



.section:nth-child(1) {
  background-color: #2B4141;
}
.section:nth-child(2) {
  background-color: #0EB1D2;
}
.section:nth-child(3) {
  background-color: #34E4EA;
}
.section:nth-child(4) {
  background-color: #3e6f6b;
}
.section:nth-child(5) {
  background-color: #b19f63;
}

.section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jpimage{
 margin-left: 200px;
  background-color: coral;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 480px;
}

.namebox{
  display: flex;
}

.pianist{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.snellfont{
  h1{
    font-family: 'snellfont';
  }

  h2{
    font-family: 'snellfont';
  }
}

.enimage{
  margin-left: 300px;
  background-color: coral;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 320px;
}

.nameen{
  h1{
    font-family: 'snellfont';
    margin-top: 10px;
  }
}

.namejp{
  h1{
    margin-top: 10px;
  }
}