@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh!important;
  flex: 1!important;
  display: inline-block!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  margin: 0!important;
  padding: 0!important;
}



.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-top: 57px;
  background-color: #000;
}


.slider .image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slider .image:nth-of-type(1) {
  background-image: url("../public/piano.jpg");
}
.slider .image:nth-of-type(2) {
  animation-delay: 5s;
  background-image: url("../public/london.jpg");
}
.slider .image:nth-of-type(3) {
  animation-delay: 10s;
  background-image: url("../public/mtfuji.jpg");
}
.slider .image:nth-of-type(4) {
  animation-delay: 15s;
  background-image: url("../public/hawaii.jpg");
}

.slider .image {
  animation-name: anime;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-duration: 19s;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.18);
  }
}

.hero .boxString {
  position: absolute;
  display: inline-block;
  padding: 1000px;
  color: #fff;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;

  h1 {
    font-family: "snellfont";
    font-size: 40px;
  }

  .indexName {
    text-align: center;
    margin-top: 100px;

    h3 {
      font-family: "snellfont";
    }

    img{
      width: 30px!important;
      height: 20px!important;
      object-fit: cover;
    }
  }

  .firstname {
    margin-right: 8px;
  }

  .lastname {
    margin-left: 8px;
  }
}

.indexAllName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.blink{
  animation: blinking 1s ease-in-out infinite alternate;
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.welcome{
  margin-top: 100vh;
  height: 100vh;

  @media (max-width: 600px) {
    height: 110vh;
  }

  .introduction{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

    h6{
      padding-bottom: 30px;
   
    }
  }

  img{
    height: 320px!important;
    width: 300px!important;
    object-fit: cover;
    border-radius: 30px;

    @media (max-width: 600px) {
      img {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    } 
  }
}

.allabout{
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .allabout {
    display: block;
  }

} 

.allintro{
  width: 300px;
  margin: 50px;

  
@media (max-width: 600px) {
  margin: 0px;
  padding-bottom: 30px;

} 

 p{
  font-family: 'Nanum Gothic', sans-serif;

  @media (max-width: 600px) {
    margin-top: 50px!important;
    margin-bottom: 30px!important;
    font-size: 13px;
  } 

 }
}

.news{
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  @media (max-width: 600px) {
    padding-top: 0px;
  } 
}

.newsContainer{
  height: 100vh;
}

.blogContainer{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.bloglist{
  margin: 10px;
  a{
    text-decoration: underline;
    color: blueviolet;

    @media (max-width: 600px) {
     a{
       margin-left: 20px;
       margin-right: 20px;

     }
    }
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slantbg {
  height: 120vh;
  width: 100%;
  padding: 150px 0;
  clip-path: polygon(0 0, 100% calc(0% + 5vw), 100% calc(100% - 9vw), 0 100%);
  background-color: #F1C122;

  @media (max-width: 600px) {
    height: 90vh;
   } 
}

.slantbg p {
  width: 65%;
  margin: 0 auto;
}

.slantbg::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #D1E28A;
  transform: skewY(-7deg) translateY(90px);
  z-index: -1;
}



.contact{
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contacts{
  display: flex;

  @media (max-width: 600px) {
   display: block;
  } 
}

.contactA{
  width: 50%;

  @media (max-width: 600px) {
    width: 100%;
   } 
}

.contactB{
  background-color: white;
  width: 50%;
  margin: 80px;

  @media (max-width: 600px) {

   margin: 0px!important;
   width: 100%;
   padding-bottom: 30px;

   form {
   margin-left: 10px;
   margin-right: 10px;
   }
   } 

}

.info{
  margin: 80px;
  position: relative;

  @media (max-width: 600px) {
    position: static;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 0px;
  } 


}

input {
#formBasicPassword{
  .form-control {
    height: 300px;
  }
}

}

